body {
  color: $text-color;
  background-color: $background-color;
  font-size: $font-size;
  font-family: $base-font-family;
  line-height: $line-height;

  pre {
    font-family: $mono-font-family;
    white-space: pre-wrap;
    line-height: ($line-height - 1) * 0.5 + 1;

    padding: $gutter;

    background-color: $accent-background-color;
    border-radius: 3px;
    @include box-shadow(2px, 2px, 5px);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $accent-font-family;
    font-weight: bolder;
  }

  h1 { margin: .67em 0; font-size: $font-size * 2.0; }
  h2 { margin: .75em 0; font-size: $font-size * 1.5; }
  h3 { margin: .83em 0; font-size: $font-size * 1.17; }
  h4 { margin: 1.0em 0; font-size: $font-size * 1.12; }
  h5 { margin: 1.5em 0; font-size: $font-size * 0.83; }
  h6 { margin: 1.67em 0; font-size: $font-size * 0.75; }

  blockquote {
    margin-left: $gutters;
    width: calc(100% - #{$gutters});
    background: $accent-background-color;
    border-left: 10px solid $grey-color-light;
  }

  ul { list-style: inside disc;    padding-left: $gutter; }
  ol { list-style: inside decimal; padding-left: $gutter; }
  ul, ol { text-indent: $gutter; }

  strong { font-weight: bold }
  em { font-style: italic; }

  abbr { text-decoration: dotted underline; }

  table {
      empty-cells: show;
      border: 1px solid $grey-color;

      td, th {
          border-left: 1px solid $grey-color;
          padding: 0.5em 1em;

          &:first-child { border-left-width: 0px; }
      }

      thead {
          background: $grey-color-light;
          text-align: left;
          vertical-align: bottom;
      }

      tbody tr:hover {
        @include transition(background-color, fast);
        background-color: darken($background-color, 7.5%);
      }
  }
}

nav {
  @include container;
  @include clearfix;

  background-color: $accent-background-color;

  @include transition(font);
  font-size: $font-size * 1.1;
  @include for-size(small) {
    font-size: $small-font-size;
  }

  // rounded corners when large
  @include border(1px solid black, bottom);
  @include for-size(large) {
    @include border(1px solid black, left, right, bottom);
    border-radius: 0px 0px 5px 5px; // bottom border
  }
  @include box-shadow(0, 0px, 5px);

  a {
    text-decoration: none;
    color: $grey-color-dark;
  }

  a:hover {
    color: $grey-color;
  }

  > * { margin: 0px; }

  .logo {
    float: left;
    margin: $gutter;

    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: inherit;
    font-size: inherit;
  }

  .nav-items {
    float: right;
    margin: $gutter;
    font-size: inherit;

    li { @include horizontal-list; }
    li.active { font-weight: bolder; }
  }
}


main {
  @include container;

  .tagline {
    text-align: center;
    font-family: $accent-font-family;

    @include transition(font);
    font-size: $font-size * 3.5;
    @include for-size(medium) {
      font-size: $font-size * 2.5; }
    @include for-size(small) {
      font-size: $font-size * 1.5; }
  }

  .big-example pre {
    @include unit(three-fourths);

    float: none;
    margin-left: auto;
    margin-right: auto;

    background-color: $background-color;

    @include box-shadow(0px, 0px, 0px);
  }
}

footer {
  @include container;
  @include clearfix;

  li { @include horizontal-list; }

  min-height: 2em;
}
